body{
    margin: 0;
    padding: 0;
    color: rgb(89, 89, 89);
}
.hero{
    color: rgb(235, 229, 244);
    background-color: rgb(121, 82, 180);
}
.col1{
    background: #5C7080;
}
.col2{
    background: #6BC0ff;
}
.wraper{
    margin:0;
    padding:0;
}